<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/admin_styles/head_container_style.css"
        th:href="@{/css/admin_styles/head_container_style.css}">
    <link rel="stylesheet" href="../../static/css/admin_styles/main_container_style.css"
        th:href="@{/css/admin_styles/main_container_style.css}">
    <link rel="stylesheet" href="../../static/css/admin_styles/table_style.css"
        th:href="@{/css/admin_styles/table_style.css}">
    <!-- Scripts -->
    <script src="../../static/js/admin_scripts/admin_scripts.js"
        th:src="@{/js/admin_scripts/admin_scripts.js}"></script>
    <!-- <script src="../../static/js/admin_scripts/header_nav_inject_script.js"></script> -->
     
    <title>Новобудови</title>
</head>

<body>
    <header th:replace="~{admin/fragments/navbar::header}"></header>

    <main class="main-container">
        <div class="main-sidebar">
            <nav th:replace="~{admin/fragments/navbar::navigation}"></nav>
        </div>

        <div class="main-content">
            <div class="page__title">
                <h2>Новобудови</h2><hr>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Назва</th>
                        <th>Адреса</th>
                        <th>Статус</th>
                        <th>Операції</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="/admin/new-blds/add-new" method="post">
                            <td></td>
                            <td>
                                <input type="text" name="title" id="newbld__input_title">
                            </td>
                            <td>
                                <input type="text" name="address" id="newbld__input_address">
                            </td>  
                            <td></td>                          
                            <td class="btn-block" style="text-align: center;">
                                <input class="status-btn" type="submit" value="Save" style="background-color: blue; color: aliceblue;" >
                            </td>
                        </form>
                    </tr>
                    <tr th:each="newbld : ${newblds}">
                        <td th:text="${newbld.id}">999</td>
                        <td th:text="${newbld.title}">rgdssdgg ds hdh</td>
                        <td th:text="|${newbld.address.city}, ${newbld.address.street}, ${newbld.address.houseNumber}|">
                            EEG EF F fd 44
                        </td>
                        <td class="btn-block" th:with="status=${newbld.status}">
                            <button type="button" class="status-btn" style="background-color: blue; color: white;"
                                th:onclick="changeNewBldStatus([[${newbld.id}]])" th:text="${status}"
                                th:style="'background-color: ' + ( ${#strings.equalsIgnoreCase(status, 'OFF')} ? 'red' : 'green') + '; color: white;'">SUPER</button>
                        </td>
                        <td class="btn-block">
                            <button type="button" class="act-btn" th:onclick="showNewBld([[${newbld.id}]])">
                                <img src="../../static/img/admin/pencil-square.svg"
                                    th:src="@{/img/admin/pencil-square.svg}" alt="edit icon">
                            </button>
                            <button type="button" class="act-btn" th:onclick="deleteNewBld([[${newbld.id}]])">
                                <img src="../../static/img/admin/x-octagon-fill.svg"
                                    th:src="@{/img/admin/x-octagon-fill.svg}" alt="delete icon">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody>

                </tbody>
            </table>
        </div>
    </main>
</body>

</html>