<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link rel="stylesheet" href="../../../static/css/admin_styles/head_container_style.css"
        th:href="@{/css/admin_styles/head_container_style.css}">
    <link rel="stylesheet" href="../../../static/css/admin_styles/main_container_style.css"
        th:href="@{/css/admin_styles/main_container_style.css}">
    <link rel="stylesheet" href="../../static/css/admin_styles/service_style.css"
        th:href="@{/css/admin_styles/service_style.css}">
    <link rel="stylesheet" href="../../../static/css/admin_styles/table_style.css"
        th:href="@{/css/admin_styles/table_style.css}">
    <!-- Scripts -->
    <script src="../../static/js/admin_scripts/admin_scripts.js"
        th:src="@{/js/admin_scripts/admin_scripts.js}"></script>
    <script src="../../static/js/admin_scripts/services_scripts.js"
        th:src="@{/js/admin_scripts/services_scripts.js}"></script>
    <title>Послуги</title>
</head>

<body>
    <header th:replace="~{admin/fragments/navbar::header}"></header>

    <main class="main-container">
        <div class="main-sidebar">
            <nav th:replace="~{admin/fragments/navbar::navigation}"></nav>
        </div>

        <div class="main-content">
            <div class="page__title">
                <h2>Послуги</h2>
                <hr>
            </div>
            <div class="create__btn__block">
                <button class="create__btn" id="create__service__btn">
                    <b>Створити</b>
                </button>
            </div>
            <div class="modal__content" id="create__service__modal__content">
                <form id="create__service__form">
                    <div class="form__item">
                        <label for="service__title__input">Назва</label>
                        <input type="text" name="title" id="service__title__input">
                    </div>
                    <div class="form__item">
                        <label for="service__address__input">Опис</label>
                        <input type="text" name="description" id="service__description__input">
                    </div>
                    <div class="form__item">
                        <label for="service__address__input">Дата</label>
                        <input type="date" name="date" id="service__date__input">
                    </div>
                </form>
                <div class="form__btn__block">
                    <input class="reset__btn" id="reset__modal__form__btn" type="reset" value="Відміна">
                    <input class="save__btn" id="save__modal__form__btn" type="button" value="Зберегти">
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Опис</th>
                        <th>Дата додавання</th>
                        <th>Статус</th>
                        <th>Операції</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="service : ${pageServices.content}">
                        <td th:text="${service.title}"></td>
                        <td th:text="${service.description}"></td>
                        <td th:text="${#temporals.format(service.date, 'dd.MM.yyyy')}"></td>
                        <td class="btn-block" th:with="status=${service.status}">
                            <button type="button" class="status-btn" style="background-color: blue; color: white"
                                th:onclick="changeServiceStatus([[${service.id}]])" th:text="${status}"
                                th:style="'background-color: ' + ( ${#strings.equalsIgnoreCase(status, 'NO')} ? 'red' : 'green') + '; color: white'">
                                Super
                            </button>
                        </td>
                        <td class="btn-block">
                            <button type="button" class="act-btn" th:onclick="showService([[${service.id}]])">
                                <img src="../../static/img/admin/eye.svg" th:src="@{/img/admin/eye.svg}"
                                    alt="view icon">
                            </button>
                            <button type="button" class="act-btn" th:onclick="deleteService([[${service.id}]])">
                                <img src="../../static/img/admin/x-octagon-fill.svg"
                                    th:src="@{/img/admin/x-octagon-fill.svg}" alt="delete icon">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination__list">
                <li th:if="${pageServices.hasPrevious()}">
                    <a th:href="@{/admin/services(page=${pageServices.getNumber() - 1}, size=${pageServices.size})}">
                        Попередня
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, pageServices.getTotalPages() - 1)}">
                    <a th:href="@{/admin/services(page=${i}, size=${pageServices.size})}">[[${i} + 1]]</a>
                </li>
                <li th:if="${pageServices.hasNext()}">
                    <a th:href="@{/admin/services(page=${pageServices.getNumber() + 1}, size=${pageServices.size})}">
                        Наступна
                    </a>
                </li>
            </ul>
        </div>
</body>

</html>