<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../../../static/css/admin_styles/head_container_style.css"
        th:href="@{/css/admin_styles/head_container_style.css}">
    <link rel="stylesheet" href="../../../static/css/admin_styles/main_container_style.css"
        th:href="@{/css/admin_styles/main_container_style.css}">
    <link rel="stylesheet" href="../../../static/css/admin_styles/table_style.css"
        th:href="@{/css/admin_styles/table_style.css}">

    <title>Карта об'єкта</title>
</head>

<body>
    <header th:replace="~{admin/fragments/navbar::header}"></header>

    <main class="main-container">
        <div class="main-sidebar">
            <nav th:replace="~{admin/fragments/navbar::navigation}"></nav>
        </div>

        <div class="main-content">
            <table th:object="${unit}">
                <tr>
                    <th>Тип нерухомості</th>
                    <td th:text="*{type}"></td>
                </tr>
                <tr>
                    <th>Площа (м.кв)</th>
                    <td th:text="*{square}"></td>
                </tr>
                <tr>
                    <th>Ціна ($)</th>
                    <td th:text="*{totalPrice}"></td>
                </tr>
                <tr>
                    <th>Ціна за кв.м.($)</th>
                    <td th:text="*{pricePerSqM}"></td>
                </tr>
                <tr>
                    <th>Кімнат</th>
                    <td th:text="*{rooms}"></td>
                </tr>
                <tr>
                    <th>Поверх</th>
                    <td th:text="*{floor}"></td>
                </tr>
                <tr>
                    <th>Поверховість</th>
                    <td th:text="*{totalFloors}"></td>
                </tr>
                <th>Дата додавання</th>
                <td th:text="*{date}"></td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>