<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" href="../../../static/css/client_styles/index_styles.css"
        th:href="@{/css/client_styles/index_styles.css}">
    
    <!-- SCRIPTS -->

    <title>Document</title>
</head>

<body>
    <main>
        <div class="main__container">
            <div class="side__container">
                <img class="logo__image" src="../../../static/img/client/client-logo.jpg" alt="">
                <ul class="side__navbar_list">
                    <li class="side__navbar_list__item">
                        <a href="#">
                            <span>Новобудови</span>
                        </a>
                    </li>
                    <li class="side__navbar_list__item">
                        <a href="#">
                            <span>Вторинний ринок</span>
                        </a>
                    </li>
                    <li class="side__navbar_list__item">
                        <a href="#">
                            <span>Послуги</span>
                        </a>
                    </li>
                    <li class="side__navbar_list__item">
                        <a href="#">
                            <span>Про компанію</span>
                        </a>
                    </li>
                    <li class="side__navbar_list__item">
                        <a href="#">
                            <span>Залишити заявку</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="central__container">
                <div class="central__header__container">
                    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ROYAL HOUSE</h1>
                    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>
    </main>
</body>

</html>