<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/client_styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../../static/js/client_scripts/inject_sidebar_header.js" defer></script>

    <title>Картка об'єкта</title>
</head>

<body class="mx-auto" style="width: 90%;">
    <div class="container-fluid main__container">
        <div class="row">
            <div id="placeholder__side__nav__container"></div>
            <div class="col-md-10 container-fluid text-center g-0" id="main__container">
                <div id="placeholder__main__header"></div>
                <div class="container-fluid border border-top-0 border-black g-0 mb-5">
                    <img class="img-fluid img-thumbnail" src="../../static/img/client/fff.jpg" alt="">
                    <h3 class="pt-5 pb-3">Lorem, ipsum dolor sit amet consectetur adipisicing.</h3>
                    <section id="service__card" class="container-fluid g-0">
                        <div class="mx-5 my-3 text-center clearfix">
                            <div class="col-4 float-start m-3">
                                <img class="img-fluid img-thumbnail" src="../../static/img/client/client-logo.jpg"
                                    alt="">
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolores, mollitia,
                                quisquam ab quidem eaque iusto facilis amet sed veritatis dolorum voluptas nesciunt!
                                Assumenda dignissimos error eligendi repellat iusto officiis.
                                Distinctio quia quo earum reiciendis nemo iure, voluptate ad. Temporibus possimus
                                maiores voluptatum beatae facere optio, non cumque dolore deserunt voluptas impedit
                                recusandae fugit rerum inventore neque molestias odio explicabo.
                                Quis, illo minus et dolore velit quo esse? Officia aspernatur perferendis eveniet
                                ducimus cum itaque sunt ipsam, tenetur esse, dicta culpa ipsa est laudantium, fuga
                                veniam maxime hic nam nihil.
                                Aspernatur tempore dicta similique dolores sit, beatae dolorum cum provident vitae totam
                                ab dignissimos architecto unde aut hic debitis, blanditiis distinctio? Odio, qui
                                dolorum! Et sit obcaecati fuga tempora autem.
                                Similique, odit! Natus beatae laudantium exercitationem velit maxime corporis placeat,
                                commodi incidunt quam molestias quibusdam enim, accusantium minus inventore.
                                Voluptatibus sequi voluptate amet. Velit, ipsa nulla earum iusto id rerum.
                                Enim mollitia illo voluptatibus similique assumenda, iste accusantium nemo harum veniam
                                nobis vero alias eos est quaerat cumque magni officia aliquam explicabo incidunt,
                                ducimus dolorum recusandae quis, quam quos? Adipisci.
                                Nam iste, eaque omnis eius perspiciatis eum, velit laboriosam voluptatem, porro maiores
                                distinctio rerum assumenda ad molestias ipsam error accusamus enim sequi natus sunt ea
                                illum dignissimos. Dolorum, molestiae in.
                                Consequuntur hic placeat nemo maxime vero natus laboriosam porro enim quibusdam a
                                temporibus, commodi dolore sed cum similique modi sunt eum laudantium eligendi
                                exercitationem provident qui id maiores amet! Dolorum?
                                Distinctio iste ex beatae sunt architecto eius quod nobis? Tempore debitis illum
                                voluptas aliquam at id aperiam. Ab ad consectetur, voluptatum porro, officiis quas quod
                                rerum alias, repellendus pariatur labore!
                            </p>
                            <div class="col-4 float-end m-3">
                                <img class="img-fluid img-thumbnail" src="../../static/img/client/client-logo.jpg"
                                    alt="">
                            </div>
                            <p>
                                Nam voluptatum autem quo distinctio ipsa, laborum consequatur deserunt! Fugiat,
                                excepturi magnam hic rem voluptatum sequi consectetur nemo ea error doloribus quia
                                consequatur laboriosam optio, minima dolorum enim veniam! Impedit.
                                Fuga non saepe rem provident quas laborum magni vitae neque ab, animi ducimus vel
                                voluptates eos? Voluptatum, magni veniam laborum molestiae accusamus fuga debitis
                                pariatur commodi minus officiis, corporis deleniti?
                                Cupiditate iusto nostrum dolore, eos velit repudiandae delectus fuga animi, quod totam
                                pariatur est nobis earum ut itaque optio quam! Ex odio fuga culpa adipisci quam
                                corporis. Tempora, dolorum autem?
                                Ipsam facere natus enim, repellat ex quisquam, officia laudantium commodi consectetur
                                magnam eius iusto corporis voluptatem saepe non delectus asperiores amet. Quia vitae
                                quisquam nobis esse a assumenda, error nisi?
                                Deserunt aperiam distinctio aspernatur aliquid quos tenetur quae facilis. Natus, vero
                                sequi? Mollitia voluptatum possimus autem sapiente commodi in. Voluptatum, eius unde
                                modi delectus provident optio soluta corporis pariatur fuga!
                                At harum, laborum eaque error suscipit dicta non eveniet quo. Incidunt, nulla. Aut
                                impedit illum saepe eaque. Eos vel laborum, nemo enim quam, voluptate veritatis, eum ad
                                id quas quo.
                                Cum, nostrum placeat ipsum voluptatum suscipit doloremque temporibus dolores. Dolorem,
                                dolores id iste blanditiis maiores suscipit odit architecto eos consectetur illum
                                praesentium omnis veniam non nostrum obcaecati ipsum optio! Hic!
                            </p>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>