<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/client_styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../../static/js/client_scripts/inject_sidebar_header.js" defer></script>

    <title>Картка об'єкта</title>
</head>

<body class="mx-auto" style="width: 90%;">
    <div class="container-fluid main__container">
        <div class="row">
            <div id="placeholder__side__nav__container"></div>
            <div class="col-md-10 container-fluid text-center g-0" id="main__container">
                <div id="placeholder__main__header"></div>
                <div class="container-fluid border border-top-0 border-black g-0 mb-5">
                    <section id="flat__card" class="container-fluid g-0">
                        <div class="card">
                            <div id="flat__images__carousel" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#flat__images__carousel" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#flat__images__carousel" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#flat__images__carousel" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../../static/img/client/7.jpg" class="d-block w-100" height="480px">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../static/img/client/8.jpg" class="d-block w-100" height="480px">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../static/img/client/9.jpg" class="d-block w-100" height="480px">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#flat__images__carousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#flat__images__carousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body fs-4 py-5 ps-5">
                                <div class="d-flex fw-bolder">
                                    <i class="bi bi-geo-alt-fill text-warning"></i>
                                    <p class="ms-2">Адреса</p>
                                </div>
                                <ul class="card__data__list d-flex p-0 fst-italic pt-4" style="list-style-type: none;">
                                    <li class="d-flex me-4">
                                        <i class="bi bi-house-door text-primary"></i>
                                        <p class="ms-2">Площа</p>
                                    </li>
                                    <li class="d-flex me-4">
                                        <i class="bi bi-house-door text-info"></i>
                                        <p class="ms-2">Кімнати</p>
                                    </li>
                                    <li class="d-flex me-4">
                                        <i class="bi bi-house-door text-info"></i>
                                        <p class="ms-2">Поверх</p>
                                    </li>
                                    <li class="d-flex me-4">
                                        <i class="bi bi-cash text-success"></i>
                                        <p class="ms-2">Ціна</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>