<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/client_styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../../static/js/client_scripts/inject_sidebar_header.js" defer></script>

    <title>Картка об'єкта</title>
</head>

<body class="mx-auto" style="width: 90%;">
    <div class="container-fluid main__container">
        <div class="row">
            <div id="placeholder__side__nav__container"></div>
            <div class="col-md-10 container-fluid text-center g-0" id="main__container">
                <div id="placeholder__main__header"></div>
                <div class="container-fluid border border-top-0 border-black g-0 mb-5">
                    <img class="img-fluid img-thumbnail" src="../../static/img/client/fff.jpg" alt="">
                    <h3 class="pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam?</h3>
                    <section id="service__cards" class="container-fluid g-0">
                        <ul class="list-unstyled">
                            <li>
                                <div class="card m-5 p-2">
                                    <div class="d-flex g-0 align-items-center">
                                        <div class="col-3">
                                            <img src="../../static/img/client/fff.jpg" class="img-fluid rounded-start">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body text-start ms-3">
                                                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam
                                                    magnam voluptates veniam quisquam labore delectus quis consequatur
                                                    recusandae libero doloribus inventore commodi, velit eius dolore
                                                    omnis aliquam exercitationem cupiditate!
                                                    Placeat deserunt error hic neque magni, nisi delectus reprehenderit
                                                    iusto corrupti, rem suscipit culpa accusamus? Enim molestias eius
                                                    obcaecati quaerat. Nihil autem facilis odit quos maxime dolorum quas
                                                    ut molestiae?
                                                    Ab hic, mollitia optio repellat incidunt culpa aperiam totam. Beatae
                                                    facilis minus quas fugiat. Quidem numquam aperiam cupiditate nihil,
                                                    error dolores? At distinctio eligendi hic nemo, modi expedita id
                                                    enim.
                                                    Earum ratione, magni culpa deserunt nobis quo inventore possimus
                                                    explicabo suscipit rerum dicta. Quia omnis beatae dignissimos
                                                    numquam quos repudiandae, dolorem mollitia similique voluptatibus
                                                    inventore maxime ea quibusdam nam esse.
                                                    Nesciunt corrupti magnam temporibus officiis, repellendus omnis
                                                    adipisci. Reprehenderit vel quasi explicabo, ipsam blanditiis
                                                    accusamus delectus nobis sequi vitae, quaerat porro. Nobis corrupti
                                                    aliquid doloribus accusamus unde eligendi praesentium repellendus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card m-5 p-2">
                                    <div class="d-flex flex-row-reverse g-0 align-items-center">
                                        <div class="col-3">
                                            <img src="../../static/img/client/fff.jpg" class="img-fluid rounded-start">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body text-start ms-3">
                                                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam
                                                    magnam voluptates veniam quisquam labore delectus quis consequatur
                                                    recusandae libero doloribus inventore commodi, velit eius dolore
                                                    omnis aliquam exercitationem cupiditate!
                                                    Placeat deserunt error hic neque magni, nisi delectus reprehenderit
                                                    iusto corrupti, rem suscipit culpa accusamus? Enim molestias eius
                                                    obcaecati quaerat. Nihil autem facilis odit quos maxime dolorum quas
                                                    ut molestiae?
                                                    Ab hic, mollitia optio repellat incidunt culpa aperiam totam. Beatae
                                                    facilis minus quas fugiat. Quidem numquam aperiam cupiditate nihil,
                                                    error dolores? At distinctio eligendi hic nemo, modi expedita id
                                                    enim.
                                                    Earum ratione, magni culpa deserunt nobis quo inventore possimus
                                                    explicabo suscipit rerum dicta. Quia omnis beatae dignissimos
                                                    numquam quos repudiandae, dolorem mollitia similique voluptatibus
                                                    inventore maxime ea quibusdam nam esse.
                                                    Nesciunt corrupti magnam temporibus officiis, repellendus omnis
                                                    adipisci. Reprehenderit vel quasi explicabo, ipsam blanditiis
                                                    accusamus delectus nobis sequi vitae, quaerat porro. Nobis corrupti
                                                    aliquid doloribus accusamus unde eligendi praesentium repellendus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card m-5 p-2">
                                    <div class="d-flex g-0 align-items-center">
                                        <div class="col-3">
                                            <img src="../../static/img/client/fff.jpg" class="img-fluid rounded-start">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body text-start ms-3">
                                                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam
                                                    magnam voluptates veniam quisquam labore delectus quis consequatur
                                                    recusandae libero doloribus inventore commodi, velit eius dolore
                                                    omnis aliquam exercitationem cupiditate!
                                                    Placeat deserunt error hic neque magni, nisi delectus reprehenderit
                                                    iusto corrupti, rem suscipit culpa accusamus? Enim molestias eius
                                                    obcaecati quaerat. Nihil autem facilis odit quos maxime dolorum quas
                                                    ut molestiae?
                                                    Ab hic, mollitia optio repellat incidunt culpa aperiam totam. Beatae
                                                    facilis minus quas fugiat. Quidem numquam aperiam cupiditate nihil,
                                                    error dolores? At distinctio eligendi hic nemo, modi expedita id
                                                    enim.
                                                    Earum ratione, magni culpa deserunt nobis quo inventore possimus
                                                    explicabo suscipit rerum dicta. Quia omnis beatae dignissimos
                                                    numquam quos repudiandae, dolorem mollitia similique voluptatibus
                                                    inventore maxime ea quibusdam nam esse.
                                                    Nesciunt corrupti magnam temporibus officiis, repellendus omnis
                                                    adipisci. Reprehenderit vel quasi explicabo, ipsam blanditiis
                                                    accusamus delectus nobis sequi vitae, quaerat porro. Nobis corrupti
                                                    aliquid doloribus accusamus unde eligendi praesentium repellendus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card m-5 p-2">
                                    <div class="d-flex flex-row-reverse g-0 align-items-center">
                                        <div class="col-3">
                                            <img src="../../static/img/client/fff.jpg" class="img-fluid rounded-start">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body text-start ms-3">
                                                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam
                                                    magnam voluptates veniam quisquam labore delectus quis consequatur
                                                    recusandae libero doloribus inventore commodi, velit eius dolore
                                                    omnis aliquam exercitationem cupiditate!
                                                    Placeat deserunt error hic neque magni, nisi delectus reprehenderit
                                                    iusto corrupti, rem suscipit culpa accusamus? Enim molestias eius
                                                    obcaecati quaerat. Nihil autem facilis odit quos maxime dolorum quas
                                                    ut molestiae?
                                                    Ab hic, mollitia optio repellat incidunt culpa aperiam totam. Beatae
                                                    facilis minus quas fugiat. Quidem numquam aperiam cupiditate nihil,
                                                    error dolores? At distinctio eligendi hic nemo, modi expedita id
                                                    enim.
                                                    Earum ratione, magni culpa deserunt nobis quo inventore possimus
                                                    explicabo suscipit rerum dicta. Quia omnis beatae dignissimos
                                                    numquam quos repudiandae, dolorem mollitia similique voluptatibus
                                                    inventore maxime ea quibusdam nam esse.
                                                    Nesciunt corrupti magnam temporibus officiis, repellendus omnis
                                                    adipisci. Reprehenderit vel quasi explicabo, ipsam blanditiis
                                                    accusamus delectus nobis sequi vitae, quaerat porro. Nobis corrupti
                                                    aliquid doloribus accusamus unde eligendi praesentium repellendus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>