/* MAIN CONTAINER */
.main-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

input {
    font-size: 1rem;
    line-height: 1.5rem;
}

p {
    font-weight: 700;
    font-size: 1.25rem;
}

/* SIDEBAR */
.side-nav-block {
    width: 15rem;
    font-size: 1.25rem;
}

.nav-list {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
}

.nav-list > li {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-top: 0;
}

.title-sub-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-sub-menu > img {
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
}

.dropdown-li:hover .nav-sub-list {
    display: block;
}

.nav-sub-list > li {
    padding: .25rem .5rem;
}

.nav-sub-list {
    margin: .5rem;
    list-style-type: none;
    position: absolute;
    display: none;
    z-index: 1;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.page__title {
    margin-top: 1.5rem;
}

.create__btn__block {
    display: flex;
    justify-content: end;
}

.create__btn {
    margin: 1.5rem;
    padding: .5rem 1.5rem;
}

/* MODAL WINDOW */
.modal__content {
    display: none;
}

.modal__content form {
    display: table;
    margin: 0 auto;
}

.modal__content div.form__btn__block {
    text-align: center;
    margin: 1rem auto;
}

.modal__content input.reset__btn,
.modal__content input.save__btn {
    width: 8rem;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin: .5rem;
}

div.form__item {
    display: table-row;
    margin-top: .75rem;
    justify-self: center;
}

.form__item label, 
.form__item input, 
.form__item select {
    display: table-cell;
    margin: .25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
