table {
    padding: 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: .25rem .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
}

th {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td > input {
    width: 100%;
}

.btn-block {
    text-align: center;
    box-sizing: border-box;
    width: 6.5rem;
    padding: .25rem;
}

.status-btn {
    width: 6rem;
    height: 2rem;
}

.status-btn, .act-btn {
    font-size: .75rem;
    padding: .25rem .5rem;
}

button {
    border-radius: .25rem;
}